*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    background-color: #090c31;
    display: grid;
    place-items: center;
}
.calculadora {
    background-color: #15173c;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.pantalla{
    grid-column:1/ -1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}
.btn {
    background-color: #15173c;
    color: #fff;
    border:0;
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #090c31;
}

#cero{
    grid-column:span 2;
}
#igual{
    grid-row: span 2;
    background-color:#e6394a;
}
#igual:hover {
    background-color: #e65766;
}